* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}


header {
  background: #020617;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #38bdf8;
}

.menu-btn {
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  display: none;
}


.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero span {
  color: #38bdf8;
}


.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4fd1c5;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  margin: 18px auto;
  display: block;
  transition: 0.4s ease-in-out;
}

.profile-photo:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 35px rgba(0,0,0,0.55);
}


.btn-group {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn.filled {
  background: #38bdf8;
  color: #000;
}

.btn.filled:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(56,189,248,.4);
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.btn.outline:hover {
  background: #38bdf8;
  color: black;
}

.btn.social {
  background: #1e293b;
  border: 2px solid #38bdf8;
  color: #38bdf8;
  text-decoration: none;
}

.btn.social:hover {
  background: #38bdf8;
  color: black;
}


.resume-btn {
  display: inline-block;
  padding: 12px 22px;
  margin-top: 12px;

  background: linear-gradient(135deg,#38bdf8,#4fd1c5);
  color: #000;
  font-weight: bold;

  border-radius: 10px;
  text-decoration: none;
  letter-spacing: .5px;

  box-shadow: 0 10px 22px rgba(56,189,248,.35);
  transition: .35s ease;
}

.resume-btn:hover {
  transform: scale(1.08) translateY(-2px);
  box-shadow: 0 14px 30px rgba(56,189,248,.55);
}


.section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  margin-top: 12px;
}

.skills-grid span {
  background: #1e293b;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: .5px;

  border: 2px solid transparent;

  transition:
    transform .35s ease,
    box-shadow .35s ease,
    border .35s ease,
    background .35s ease,
    color .35s ease,
    opacity .35s ease,
    translate .35s ease;

  opacity: 0;
  transform: translateY(25px);
}

.skills-grid span:hover {
  transform: scale(1.12);
  background: #38bdf8;
  color: #000;
  border: 2px solid white;
  box-shadow: 0 10px 28px rgba(56,189,248,.55);
}


.skill-show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


.project-card {
  background: #020617;
  padding: 18px;
  border-radius: 12px;
  margin-top: 10px;
}


@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #020617;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    display: none;
  }

  .nav-links.show {
    display: flex;
    animation: slideIn .3s ease;
  }

  @keyframes slideIn {
    from { transform: translateX(40px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
}


footer {
  text-align: center;
  padding: 18px;
  opacity: .8;
}
